.main-header{
    background-image: url(../../../image/adam-winger-fI-TKWjKYls-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 600px;
    color: white;
    padding: 60px;
    margin-top: 82px;
}
.main-header h1{
    padding-top:170px;
    font-size: 50px;
}